STRAVA_CLIENT_ID=264990
STRAVA_CLIENT_SECRET=your_client_secret_here
FLASK_SECRET_KEY=change_me_to_a_random_string

INSFORGE_API_URL=https://your-app.region.insforge.app
INSFORGE_API_KEY=your_insforge_api_key_here

ENKRYPT_API_KEY=your_enkrypt_api_key_here

LYZR_AGENT_API_KEY=your_lyzr_api_key_here
LYZR_AGENT_ID=your_lyzr_agent_id_here
